@import 'node_modules/bootstrap/scss/bootstrap';
@import 'node_modules/@fortawesome/fontawesome-free/css/all.min.css';
body{
    background-color: black;
    color: white;
}

//GENERAL LINK STYLES

a{
    text-decoration: none;
    color: white;
}
a:hover{
    color: white;
}

//GENERAL LIST STYLES

ul{
    margin: 0;
    list-style: none;
}

//WAVES SVG

.waves.down {
    transform: rotate(180deg);
    display: block;
  }